$darkBlue: #133B62;
$primaryBlue: #0069AA;
$lightBlue: adjust-lightness($primaryBlue, 5%);
$darkGreen: #5E9732;
$primaryGreen: #7AC143;
$lightGreen:  adjust-lightness($primaryGreen, 5%);

$white: #FFF;
$black: #000;

$bgColor1: #F5F5F5;
$lightGray: #E3E3E3;
$disabledGray: #AAA;
$textColor: #58595b;

$red: #FF002A;
$lightRed: adjust-lightness($red, 5%);
$pink: adjust-lightness($red, 30%);
